app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: githubexporter/github-exporter
            tag: 1.0.6
          probes:
            liveness: &probe
              custom: true
              spec:
                httpGet:
                  path: /
                  port: &port 9171
            readiness: *probe
          env:
            REPOS: rash-sh/rash, pando85/timer, kanidm/kanidm, pando85/homelab
          envFrom:
            - secretRef:
                name: github-exporter

          resources:
            requests:
              cpu: 10m
              memory: 8Mi
            limits:
              memory: 50Mi

  service:
    main:
      ports:
        http:
          port: *port

  serviceMonitor:
    main:
      enabled: true
      labels:
        operator.prometheus.io/instance: prometheus-long-term
      endpoints:
        - port: http
          scheme: http
          path: /metrics
          interval: 2m
          scrapeTimeout: 30s
  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 991
      fsGroup: 991
      fsGroupChangePolicy: "OnRootMismatch"

    nodeSelector:
      kubernetes.io/arch: amd64
