---
- name: apparmor | Fix ntpd access config
  lineinfile:
    path: /etc/apparmor.d/usr.sbin.ntpd
    insertbefore: '^  /etc/ntp.conf r,'
    regexp: '^  /etc/ssl/openssl.cnf'
    line: '  /etc/ssl/openssl.cnf r,'
  ignore_errors: true
  notify:
    - restart apparmor

- name: apparmor | Disable apparmor in armbian and configure pure cgroup v1
  lineinfile:
    path: /boot/armbianEnv.txt
    regex: "^extraargs="
    line: 'extraargs=apparmor=0 systemd.unified_cgroup_hierarchy=0'
  # armbian has no variables to be distinguishable
  ignore_errors: true
  notify:
    - restart server

- name: apparmor | Disable apparmor and configure pure cgroup v1 in grub
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX='
    line: 'GRUB_CMDLINE_LINUX="apparmor=0 systemd.unified_cgroup_hierarchy=0"'
  # armbian has no variables to be distinguishable
  ignore_errors: true
  notify:
    - update grub
    - restart server

- name: apparmor | Disable service
  service:
    name: apparmor
    enabled: false
  notify:
    - restart server
