image:
  repository: ghcr.io/pando85/kaniop
  tag: latest@sha256:43d534b755d1e34324f03f5ac5efb249d2f322c6e8b2371690861ff228ee33ad

logging:
  ## Log level defined by RUST_LOG environment variable. Example: info,kaniop=trace
  ## Ref: https://docs.rs/tracing-subscriber/latest/tracing_subscriber/fmt/index.html#filtering-events-with-environment-variables
  level: "info"

resources:
  requests:
    cpu: 10m
    memory: 90Mi
  limits:
    memory: 256Mi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    additionalLabels:
      release: monitoring
