image:
  repository: ghcr.io/pando85/kaniop
  tag: latest@sha256:1acb4f277aa4b945b7b1b58af4c1d3042ac3b38c93b8620d3ae9d77b1b72bac5

logging:
  ## Log level defined by RUST_LOG environment variable. Example: info,kaniop=trace
  ## Ref: https://docs.rs/tracing-subscriber/latest/tracing_subscriber/fmt/index.html#filtering-events-with-environment-variables
  level: "info,kaniop=debug"

resources:
  requests:
    cpu: 10m
    memory: 14Mi
  limits:
    cpu: 2
    memory: 256Mi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    additionalLabels:
      release: monitoring

  prometheusRules:
    enabled: true
    additionalLabels:
      release: monitoring
  dashboards:
    enabled: true
    label: grafana_dashboard
    additionalLabels:
      release: monitoring
    annotations:
      grafana.grafana.com/dashboards.target-directory: /tmp/dashboards/kaniop

webhook:
  enabled: true
  logging:
    ## Log level defined by RUST_LOG environment variable. Example: info,kaniop=trace
    ## Ref: https://docs.rs/tracing-subscriber/latest/tracing_subscriber/fmt/index.html#filtering-events-with-environment-variables
    level: "info,kaniop_webhook=debug"
  certManager:
    enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 14Mi
    limits:
      cpu: 2
      memory: 128Mi
