image:
  repository: ghcr.io/pando85/kaniop

logging:
  ## Log level defined by RUST_LOG environment variable. Example: info,kaniop=trace
  ## Ref: https://docs.rs/tracing-subscriber/latest/tracing_subscriber/fmt/index.html#filtering-events-with-environment-variables
  level: "info,kaniop=info"

tracing:
  enabled: true
  service: tempo
  namespace: tempo
  port: 4317

resources:
  requests:
    cpu: 10m
    memory: 14Mi
  limits:
    cpu: 2
    memory: 256Mi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    additionalLabels:
      release: monitoring

  prometheusRules:
    enabled: true
    additionalLabels:
      release: monitoring
  dashboards:
    enabled: true
    label: grafana_dashboard
    additionalLabels:
      release: monitoring
    annotations:
      grafana.grafana.com/dashboards.target-directory: /tmp/dashboards/kaniop

webhook:
  enabled: true
  logging:
    ## Log level defined by RUST_LOG environment variable. Example: info,kaniop=trace
    ## Ref: https://docs.rs/tracing-subscriber/latest/tracing_subscriber/fmt/index.html#filtering-events-with-environment-variables
    level: "info,kaniop_webhook=debug"
  certManager:
    enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 14Mi
    limits:
      cpu: 2
      memory: 128Mi
