app-template:
  controllers:
    sunshine:
      strategy: Recreate
      pod: &nvidia_runtime
        runtimeClassName: nvidia
      containers:
        main:
          securityContext:
            privileged: true
          image:
            repository: ghcr.io/games-on-whales/sunshine
            tag: edge@sha256:a0abdf160dfd733c67cf03853193df21dd39454dd9194844abfa62be53559c30
          env:
            DISPLAY: &display :99
            LOG_LEVEL: info
            PULSE_SERVER: /tmp/pulse/pulse-socket
            GOW_REQUIRED_DEVICES: /dev/uinput /dev/input/event* /dev/dri/*
            XDG_RUNTIME_DIR: /tmp/.X11-unix
            NVIDIA_DRIVER_CAPABILITIES: &nvidia_driver_capabilities all
            NVIDIA_VISIBLE_DEVICES: &nvidia_visible_devices all
          envFrom:
            - secretRef:
                name: gow-secrets
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
              nvidia.com/gpu: "1"
            limits:
              cpu: 500m
              memory: 256Mi
              nvidia.com/gpu: "1"
          probes:
            liveness: &probe
              enabled: true
              custom: true
              spec:
                failureThreshold: 3
                periodSeconds: 15
                tcpSocket:
                  port: &web_port 47990
                timeoutSeconds: 3
            readiness: *probe
    xorg:
      strategy: Recreate
      pod: *nvidia_runtime
      containers:
        main:
          securityContext:
            privileged: true
          image:
            repository: ghcr.io/games-on-whales/xorg
            tag: edge@sha256:1853e561dd827a6eb307872f82fefada7b9ef3d57ea0feab79d34d89be8b9ab1
          env:
            DISPLAY: *display
            REFRESH_RATE: "60"
            RESOLUTION: 1920x1080
            NVIDIA_DRIVER_CAPABILITIES: *nvidia_driver_capabilities
            NVIDIA_VISIBLE_DEVICES: *nvidia_visible_devices
          resources:
            requests:
              cpu: 300m
              memory: 50Mi
              nvidia.com/gpu: "1"
            limits:
              nvidia.com/gpu: "1"
    pulseaudio:
      strategy: Recreate
      containers:
        main:
          image:
            repository: ghcr.io/games-on-whales/pulseaudio
            tag: edge@sha256:572c744aacfaf0067eff7827e1159ecd740138d253c2e3e63fa46aeb3bc04d78
          resources:
            requests:
              cpu: 300m
              memory: 50Mi
    steam:
      strategy: Recreate
      pod: *nvidia_runtime
      containers:
        main:
          securityContext:
            privileged: true
          image:
            repository: ghcr.io/games-on-whales/steam
            tag: edge@sha256:e8bcbf121b6cf8b274c29764424d4bd33c930d761f9970355c49621ae5616d00
          env:
            DISPLAY: *display
            PULSE_SERVER: /tmp/pulse/pulse-socket
            PROTON_LOG: "1"
            NVIDIA_DRIVER_CAPABILITIES: *nvidia_driver_capabilities
            NVIDIA_VISIBLE_DEVICES: *nvidia_visible_devices
          resources:
            requests:
              cpu: 10m
              memory: 128Mi
              nvidia.com/gpu: "1"
            limits:
              cpu: "10"
              memory: 20Gi
              nvidia.com/gpu: "1"

  service:
    sunshine:
      type: LoadBalancer
      controller: sunshine
      annotations:
        # Cilium v1.16+
        lbipam.cilium.io/ips: "192.168.193.5"
        # Cilium v1.15
        io.cilium/lb-ipam-ips: "192.168.193.5"
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/hostname: gow.internal.grigri.cloud
      externalTrafficPolicy: Local
      ports:
        http:
          port: 47989
        https:
          port: 47984
        web:
          port: *web_port
        rtsp:
          port: 48010
        video:
          port: 47998
          protocol: UDP
        control:
          port: 47999
          protocol: UDP
        audio:
          port: 48000
          protocol: UDP
        # not used
        mic:
          port: 48002
          protocol: UDP

  defaultPodOptions:
    enableServiceLinks: false
    # Services that use udev in order to get devices needs to be on the same network
    # This is because they need the udev PF_NETLINK socket
    hostNetwork: true
    nodeSelector:
      kubernetes.io/hostname: prusik

  ingress:
    gow:
      enabled: true
      className: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      hosts:
        - host: &host sunshine.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: sunshine
                port: web
      tls:
        - hosts:
            - *host
          secretName: gow-tls-certificate

  configMaps:
    pulse-config:
      data:
        default.pa: |-
          .fail
              load-module module-null-sink sink_name=sunshine
              set-default-sink sunshine
              load-module module-native-protocol-unix auth-anonymous=1 socket=/tmp/pulse/pulse-socket
        client.conf: |-
          default-sink = sink-sunshine-stereo
          autospawn = no
          daemon-binary = /bin/true
        daemon.conf: |-
          exit-idle-time = -1
          flat-volumes = yes

  persistence:
    dev-input:
      enabled: true
      type: hostPath
      hostPath: /dev/input
      advancedMounts:
        sunshine:
          main:
            - path: /dev/input
              readOnly: true
        xorg:
          main:
            - path: /dev/input
              readOnly: true
        steam:
          main:
            - path: /dev/input
              readOnly: true
    udev:
      enabled: true
      type: hostPath
      hostPath: /run/udev
      advancedMounts:
        sunshine:
          main:
            - path: /run/udev
              readOnly: true
        xorg:
          main:
            - path: /run/udev
              readOnly: true
        steam:
          main:
            - path: /run/udev
              readOnly: true
    xorg:
      enabled: true
      type: hostPath
      hostPath: /tmp/.X11-unix
      advancedMounts:
        sunshine:
          main:
            - path: /tmp/.X11-unix
        xorg:
          main:
            - path: /tmp/.X11-unix
        steam:
          main:
            - path: /tmp/.X11-unix
    data:
      existingClaim: gow-data
      advancedMounts:
        sunshine:
          main:
            - path: /home/retro
        xorg:
          main:
            - path: /home/retro
        steam:
          main:
            - path: /home/retro
    audio-socket:
      enabled: true
      type: hostPath
      hostPath: /tmp/pulse
      globalMounts:
        - path: /tmp/pulse
    pulse-config:
      enabled: true
      type: configMap
      name: gow-pulse-config
      advancedMounts:
        pulseaudio:
          main:
            - path: /etc/pulse/default.pa
              subPath: default.pa
            - path: /etc/pulse/client.conf
              subPath: client.conf
            - path: /etc/pulse/daemon.conf
              subPath: daemon.conf
    dshm:
      enabled: true
      type: emptyDir
      medium: Memory
      globalMounts:
        - path: /dev/shm
