# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: valetudopng-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault
  target:
    name: valetudopng-config
    template:
      data:
        config.yml: |
          mqtt:
            connection:
              host: mosquitto.internal.grigri.cloud
              port: 1883
              client_id_prefix: valetudopng
              username: {{`"{{ .username }}"`}}
              password: {{`"{{ .password }}"`}}

            topics:
              valetudo_prefix: valetudo
              valetudo_identifier: DetailedInternalRhinoceros

              # Home assistant autoconf topic prefix
              # Do not change unless you know what you are doing
              ha_autoconf_prefix: homeassistant

            # Leave this set to false...
            # No idea about the use of this, but it sends image to MQTT
            # encoded in base64.
            image_as_base64: false

          # Access image via HTTP: /api/map/image
          # Also needed to access /api/map/image/debug
          http:
            enabled: true
            bind: 0.0.0.0:3000

          map:
            # Do not render map more than once within below specified interval
            min_refresh_int: 5000ms

            # Specify compression level for Golang's PNG library:
            # 0 - Best speed
            # 1 - Best compression
            # 2 - Default compression
            # 3 - No compression
            png_compression: 0

            # 4 is default
            scale: 4

            # Rotate clockwise this amount of times.
            # 0 - no rotation
            # 1 - 90 clockwise
            # 2 - 180 clockwise
            # 3 - 270 clockwise
            rotate: 0

            # Set map size within robot's coordinates system, or leave
            # empty to make map fully dynamic. This is useful if vacuum
            # has seen outside through your entrance door, or just seen a
            # mirror and draws non-existent areas. Crop it once and for
            # good this way.
            #
            # For below coordinates in robot's coordinate system, visit
            # http://<ip>:<port>/api/map/image/debug
            #
            custom_limits:
              start_x:
              start_y:
              end_x:
              end_y:
  data:
    - secretKey: username
      remoteRef:
        key: /mosquitto/user
        property: username
    - secretKey: password
      remoteRef:
        key: /mosquitto/user
        property: password
