apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: hass
  labels:
    operator.prometheus.io/instance: prometheus-long-term
spec:
  groups:
    - name: hass.rules
      rules:
{{- range $path, $_ := .Files.Glob "rules/*.yaml" }}
{{ $.Files.Get $path | indent 8 }}
{{- end }}
