fullnameOverride: blackbox-exporter

replicas: 1

ingress:
  enabled: true
  ingressClassName: nginx-internal
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod-dns
    external-dns.alpha.kubernetes.io/enabled: "true"
  hosts:
    - host: &host blackbox-exporter.internal.grigri.cloud
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - *host
      secretName: blackbox-exporter-tls-certificate

securityContext:
  capabilities:
    add:
      - NET_RAW

config:
  modules:
    http_2xx:
      prober: http
      timeout: 5s
      http:
        valid_http_versions:
          - HTTP/1.1
          - HTTP/2.0
        follow_redirects: true
        preferred_ip_protocol: ip4
    http_401:
      prober: http
      timeout: 5s
      http:
        valid_http_versions:
          - HTTP/1.1
          - HTTP/2.0
        follow_redirects: true
        preferred_ip_protocol: ip4
        valid_status_codes:
          - 401
    ping:
      prober: icmp
      timeout: 30s
      icmp:
        preferred_ip_protocol: ip4
    tcp_connect:
      prober: tcp
      tcp:
        preferred_ip_protocol: ip4
        ip_protocol_fallback: false
        tls: false
      timeout: 15s

serviceMonitor:
  enabled: true
  defaults:
    labels:
      release: monitoring
    interval: 30s
    scrapeTimeout: 10s

  targets:
    - module: http_2xx
      name: rash-sh.github.io
      url: https://rash-sh.github.io
    - module: http_2xx
      name: api.m.rajoy.grigri.cloud
      url: https://api.m.rajoy.grigri.cloud/ping
    - module: http_2xx
      name: m.rajoy.grigri.cloud
      url: https://m.rajoy.grigri.cloud
    - module: http_2xx
      name: www.mintpsicologia.es
      url: https://www.mintpsicologia.es
    - module: http_2xx
      name: fame.grigri.cloud
      url: https://fame.grigri.cloud
    - module: ping
      name: aerotherm
      url: cz-taw1b.iot.grigri
    - module: ping
      name: su100-510-office-a
      url: su100-510-office-a.iot.grigri
    - module: ping
      name: su100-510-bedroom
      url: su100-510-bedroom.iot.grigri
    - module: ping
      name: su100-510-hall-kitchen
      url: su100-510-hall-kitchen.iot.grigri
    - module: ping
      name: su100-510-office-t
      url: su100-510-office-t.iot.grigri
    - module: ping
      name: shellyem-main
      url: shellyem-main.iot.grigri
    - module: ping
      name: shellypmmini-servers
      url: shellypmmini-servers.iot.grigri
    - module: ping
      name: shellyplus2pm-bedroom
      url: shellyplus2pm-bedroom.iot.grigri
    - module: ping
      name: shellyplus2pm-office-t
      url: shellyplus2pm-office-t.iot.grigri
    - module: ping
      name: shellyplus2pm-office-a
      url: shellyplus2pm-office-a.iot.grigri
    - module: tcp_connect
      name: rack-controller
      url: rack-controller.iot.grigri:6053
    - module: tcp_connect
      name: smart-plug-v2-snapmaker
      url: smart-plug-v2-snapmaker.iot.grigri:6053
    - module: tcp_connect
      name: smart-plug-v2-terrace
      url: smart-plug-v2-terrace.iot.grigri:6053
    - module: tcp_connect
      name: lilygo-higrow-2
      url: lilygo-higrow-2.iot.grigri:6053
    - module: tcp_connect
      name: lilygo-higrow-1
      url: lilygo-higrow-1.iot.grigri:6053
    - module: tcp_connect
      name: mini-switch-office-a
      url: mini-switch-office-a.iot.grigri:6053

resources:
  requests:
    cpu: 15m
    memory: 64M
  limits:
    memory: 64M

prometheusRule:
  enabled: true
  additionalLabels:
    release: monitoring
  rules:
    - alert: BlackboxSslCertificateWillExpireSoon
      expr: probe_ssl_earliest_cert_expiry - time() < 86400 * 3
      for: 10m
      labels:
        severity: critical
      annotations:
        description: |-
          The SSL certificate for {{ $labels.target }} will expire in less than 3 days
    - alert: BlackboxSslCertificateExpired
      expr: probe_ssl_earliest_cert_expiry - time() <= 0
      for: 10m
      labels:
        severity: critical
      annotations:
        description: |-
          The SSL certificate for {{ $labels.target }} has expired
    - alert: BlackboxProbeFailed
      expr: probe_success == 0
      for: 10m
      labels:
        severity: critical
      annotations:
        description: |-
          The host {{ $labels.target }} is currently unreachable
    - alert: SlowResponseTime
      annotations:
        message: The response time for {{ $labels.target }} has been greater than 30 seconds for 5 minutes.
      expr: probe_duration_seconds > 30
      for: 15m
      labels:
        severity: warning
    - alert: BlackboxProbeHttpFailure
      expr: probe_http_status_code <= 199 OR probe_http_status_code >= 400
      for: 5m
      labels:
        severity: warning
      annotations:
        message: The HTTP response for {{ $labels.target }} was not a HTTP status code is not 200-399
