apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - includeCRDs: true
    name: kube-prometheus-stack
    namespace: monitoring
    releaseName: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: values.yaml
    version: 61.5.0
  - name: prometheus-blackbox-exporter
    namespace: monitoring
    releaseName: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: blackbox-exporter-values.yaml
    version: 8.17.0
  - name: prometheus-smartctl-exporter
    namespace: monitoring
    releaseName: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: smartctl-exporter-values.yaml
    version: 0.10.0

resources:
  - resources/alertmanager-secret.yaml
  - resources/alertmanager-telegram-template.yaml
  - resources/blackbox-exporter-dashboard-configmap.yaml
  - resources/grafana-admin-secret.yaml
  - resources/grafana-secret.yaml
  - resources/long-term-metrics/datasource-configmap.yaml
  - resources/long-term-metrics/ingress.yaml
  - resources/long-term-metrics/prometheus.yaml
  - resources/long-term-metrics/prometheus-rules.yaml
  - resources/long-term-metrics/service.yaml
  - resources/pfsense-darkstat-scrape-config.yaml
  - resources/pfsense-node-exporter-dashboard-configmap.yaml
  - resources/pfsense-node-exporter-scrape-config.yaml
  - resources/smartctl-exporter-dashboard-configmap.yaml
  - resources/smartctl-exporter-prometheus-rules.yaml
  - resources/temperature-dashboard-configmap.yaml
  - resources/temperature-prometheus-rules.yaml

patches:
  - patch: |-
      - op: add
        path: "/metadata/annotations/argocd.argoproj.io~1sync-options"
        value: "Replace=true"
    target:
      group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: alertmanagers.monitoring.coreos.com
      version: v1
  - patch: |-
      - op: add
        path: "/metadata/annotations/argocd.argoproj.io~1sync-options"
        value: "Replace=true"
    target:
      group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: prometheusagents.monitoring.coreos.com
      version: v1
  - patch: |-
      - op: add
        path: "/metadata/annotations/argocd.argoproj.io~1sync-options"
        value: "Replace=true"
    target:
      group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: prometheuses.monitoring.coreos.com
      version: v1
  - patch: |-
      - op: add
        path: "/metadata/annotations/argocd.argoproj.io~1sync-options"
        value: "Replace=true"
    target:
      group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      name: thanosrulers.monitoring.coreos.com
      version: v1
