# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Pando85's Homelab

repo_url: https://github.com/pando85/homelab

theme:
  name: material
  palette:
    primary: black
  features:
    - navigation.indexes
    - navigation.expand
    - search.highlight
    - search.share

plugins:
  - search
  - include_dir_to_nav

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.snippets:
      check_paths: true
  - def_list
  - pymdownx.tasklist:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

nav:
  - Home: index.md
  - Network:
      - network
  - Deployment:
      - deployment
  - User-guide:
      - user-guide
