deploymentMode: SingleBinary
loki:
  podSecurityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsNonRoot: true
    runAsUser: 10001
    fsGroupChangePolicy: "OnRootMismatch"

  limits_config:
    max_query_lookback: 90d
    retention_period: 90d
  commonConfig:
    replication_factor: 1
  storage:
    type: "filesystem"

  schemaConfig:
    configs:
      - from: "2024-04-15"
        index:
          period: 24h
          prefix: loki_index_
        object_store: filesystem
        schema: v13
        store: tsdb

  auth_enabled: false

  compactor:
    working_directory: /var/loki/retention
    retention_enabled: true
    delete_request_store: filesystem

rbac:
  pspEnabled: false

ingress:
  enabled: false

# Requires self monitoring enabled
test:
  enabled: false
lokiCanary:
  enabled: false

singleBinary:
  replicas: 1

  persistence:
    enabled: true
    # Remove until k8s 1.27
    enableStatefulSetAutoDeletePVC: false
    size: 200Gi

  resources:
    limits:
      cpu: 2
      memory: 4Gi
    requests:
      cpu: 40m
      memory: 200Mi

write:
  replicas: 0
read:
  replicas: 0
backend:
  replicas: 0

# disable memcached
resultsCache:
  enabled: false
chunksCache:
  enabled: false

gateway:
  enabled: false
