app-template:
  controllers:
    special-web:
      labels:
        backup/retain: quaterly
      replicas: 1
      containers:
        nginx:
          image:
            repository: nginx
            tag: 1.27.1-alpine

          securityContext:
            runAsUser: 0

          resources:
            requests:
              cpu: 10m
              memory: 8Mi
            limits:
              cpu: "1"
              memory: 16Mi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
  defaultPodOptions:
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/instance: special-web
            app.kubernetes.io/name: special-web
  service:
    special-web:
      controller: special-web
      ports:
        http:
          port: 80

  ingress:
    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host regalo.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: special-web
                port: http
      tls:
        - hosts:
            - *host
          secretName: special-web-external-tls-certificate

  persistence:
    data:
      enabled: true
      globalMounts:
        - path: /usr/share/nginx/html
      existingClaim: special-web-data

    config:
      enabled: true
      type: configMap
      name: nginx-config
      advancedMounts:
        special-web:
          nginx:
            - path: /etc/nginx/nginx.conf
              subPath: nginx.conf
