gitea:
  image:
    repository: gitea/gitea
    rootless: true

  strategy:
    type: "Recreate"

  ingress:
    enabled: true
    className: nginx-external
    annotations:
      external-dns.alpha.kubernetes.io/enabled: "true"
      external-dns.alpha.kubernetes.io/target: grigri.cloud
      cert-manager.io/cluster-issuer: letsencrypt-prod-dns
    hosts:
      - host: &host git.grigri.cloud
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: git-tls-certificate
        hosts:
          - *host

  replicaCount: 1

  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 128Mi

  persistence:
    mount: true
    create: false
    claimName: data-gitea-zfs-0

  gitea:
    admin:
      existingSecret: gitea-admin

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

    config:
      oauth2_client:
        ENABLE_AUTO_REGISTRATION: true
        OPENID_CONNECT_SCOPES: email
      server:
        LANDING_PAGE: explore
        ROOT_URL: https://git.grigri.cloud
        SSH_DOMAIN: git.grigri.cloud
        SSH_PORT: 29518
      database:
        DB_TYPE: postgres
        HOST: gitea-postgres:5432
        NAME: gitea
        SSL_MODE: require
        MAX_OPEN_CONNS: 4
        CONN_MAX_LIFE_TIME: 300s
        LOG_SQL: false
      service:
        DISABLE_REGISTRATION: true
      session:
        PROVIDER: memory
      cache:
        ADAPTER: memory
      queue:
        TYPE: level
      log:
        LEVEL: info
      cron:
        NOTICE_ON_SUCCESS: false
      migrations:
        ALLOWED_DOMAINS: '*'

    additionalConfigSources:
      - secret:
          secretName: gitea-app-ini-database

    oauth:
      - name: kanidm
        provider: openidConnect
        existingSecret: oidc-client
        autoDiscoverUrl: https://idm.grigri.cloud/oauth2/openid/git/.well-known/openid-configuration

  postgresql-ha:
    enabled: false

  postgresql:
    enabled: false

  redis-cluster:
    enabled: false
