forgejo:
  image:
    rootless: true
  labels:
    backup/retain: quaterly
  strategy:
    type: "Recreate"

  ingress:
    enabled: true
    className: nginx-external
    annotations:
      external-dns.alpha.kubernetes.io/enabled: "true"
      external-dns.alpha.kubernetes.io/target: grigri.cloud
      cert-manager.io/cluster-issuer: letsencrypt-prod-dns
    hosts:
      - host: &host git.grigri.cloud
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: git-tls-certificate
        hosts:
          - *host

  replicaCount: 1

  resources:
    limits:
      memory: 2Gi
    requests:
      cpu: 10m
      memory: 128Mi

  persistence:
    mount: true
    create: false
    claimName: data-gitea-zfs-0

  gitea:
    admin:
      existingSecret: gitea-admin

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        additionalLabels:
          release: monitoring

    config:
      oauth2_client:
        ENABLE_AUTO_REGISTRATION: true
        OPENID_CONNECT_SCOPES: email
      server:
        LANDING_PAGE: explore
        ROOT_URL: https://git.grigri.cloud
        SSH_DOMAIN: git.grigri.cloud
        SSH_PORT: 29518
      database:
        DB_TYPE: postgres
        HOST: gitea-postgres:5432
        NAME: gitea
        SSL_MODE: require
        MAX_OPEN_CONNS: 4
        CONN_MAX_LIFE_TIME: 300s
        LOG_SQL: false
      service:
        DISABLE_REGISTRATION: true
        ENABLE_NOTIFY_MAIL: true
      session:
        PROVIDER: db
      cache:
        ADAPTER: redis
      queue:
        TYPE: level
      log:
        LEVEL: info
      cron:
        NOTICE_ON_SUCCESS: false
      mailer:
        ENABLED: true
        SMTP_PORT: 587
      migrations:
        ALLOWED_DOMAINS: "*"

    additionalConfigSources:
      - secret:
          secretName: gitea-app-ini-database
      - secret:
          secretName: gitea-mailer-config
      - secret:
          secretName: gitea-redis

    oauth:
      - name: kanidm
        provider: openidConnect
        existingSecret: oidc-client
        autoDiscoverUrl: https://idm.grigri.cloud/oauth2/openid/git/.well-known/openid-configuration

  postgresql-ha:
    enabled: false

  postgresql:
    enabled: false

  valkey-cluster:
    enabled: false

  valkey:
    enabled: false

app-template:
  global:
    fullnameOverride: redis
  controllers:
    redis:
      containers:
        redis:
          image:
            repository: redis
            tag: 8.4.0

          command:
            - sh
          args:
            - -c
            - >-
              redis-server --requirepass $REDIS_PASSWORD
          resources:
            requests:
              cpu: 23m
              memory: 64M
            limits:
              memory: 64M

          env:
            REDIS_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: redis
                  key: password

  defaultPodOptions:
    nodeSelector:
      kubernetes.io/hostname: prusik

    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - forgejo
            topologyKey: kubernetes.io/hostname

  service:
    redis:
      controller: redis
      ports:
        redis:
          enabled: true
          port: 6379
