postgres-operator:
  # multi-arch support
  image:
    registry: ghcr.io
    repository: zalando/postgres-operator

  configGeneral:
    enable_shm_volume: false

  configMajorVersionUpgrade:
    # "off": no upgrade, "manual": manifest triggers action, "full": minimal version violation triggers too
    major_version_upgrade_mode: "full"
    minimal_major_version: "14"

  configKubernetes:
    # TODO: remove for postgres HA
    enable_pod_antiaffinity: true
    pdb_master_label_selector: false
    enable_pod_disruption_budget: false
    inherited_labels:
      - backup/retain

  configLoadBalancer:
  # configDebug:
  #   # toggles verbose debug logs from the operator
  #   debug_logging: false

  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 10m
      memory: 250Mi
