postgres-operator:
  # multi-arch support
  image:
    registry: ghcr.io
    repository: zalando/postgres-operator

  configGeneral:
    enable_shm_volume: false
    sidecars:
      - name: prometheus-exporter
        # renovate: datasource=docker depName=quay.io/prometheuscommunity/postgres-exporter
        image: quay.io/prometheuscommunity/postgres-exporter:v0.18.1
        ports:
          - name: metrics
            containerPort: 9187
            protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 40Mi
        env:
          - name: "DATA_SOURCE_URI"
            value: "$(POD_NAME)/postgres?sslmode=require"
          - name: "DATA_SOURCE_USER"
            value: "$(POSTGRES_USER)"
          - name: "DATA_SOURCE_PASS"
            value: "$(POSTGRES_PASSWORD)"
          - name: "PG_EXPORTER_AUTO_DISCOVER_DATABASES"
            value: "true"

  configMajorVersionUpgrade:
    # "off": no upgrade, "manual": manifest triggers action, "full": minimal version violation triggers too
    major_version_upgrade_mode: "full"
    minimal_major_version: "14"

  configKubernetes:
    enable_owner_references: false
    # TODO: remove for postgres HA
    enable_pod_antiaffinity: true
    pdb_master_label_selector: false
    enable_pod_disruption_budget: false
    inherited_labels:
      - backup/retain

  configLoadBalancer:
    external_traffic_policy: "Local"
    db_hosted_zone: internal.grigri.cloud
    master_dns_name_format: "{cluster}.{hostedzone}"

  # configDebug:
  #   # toggles verbose debug logs from the operator
  #   debug_logging: false

  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 10m
      memory: 250Mi
