app-template:
  controller:
    type: statefulset
  image:
    repository: ghcr.io/onedr0p/radarr-develop
    tag: 5.0.1.7993@sha256:10a6c584b77dbd447df5f6c3f9fd55466c67b1734ded718b89a38e92bfbae197
  env:
    TZ: Europe/Madrid
  service:
    main:
      ports:
        http:
          port: 7878

  ingress:
    main:
      enabled: true
      ingressClassName: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host radarr.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: radarr-tls-certificate

    external:
      enabled: true
      ingressClassName: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
      hosts:
        - host: &host radarr.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: radarr-external-tls-certificate
  podSecurityContext:
    runAsUser: 995
    runAsGroup: 991
    fsGroup: 991
    fsGroupChangePolicy: "OnRootMismatch"
  persistence:
    config:
      enabled: true
      mountPath: /config
      existingClaim: config-radarr-zfs
    peliculas:
      enabled: true
      type: hostPath
      hostPath: /datasets/peliculas
      mountPath: /datasets/peliculas
  resources:
    requests:
      cpu: 100m
      memory: 180Mi
    limits:
      cpu: 1
      memory: 400Mi

  nodeSelector:
    name: grigri
