app-template:
  controllers:
    main:
      replicas: 1
      # HA is not supported
      strategy: Recreate
      containers:
        main:
          image:
            repository: jacobalberty/unifi
            tag: v8.0.28

          env:
            TZ: Europe/Madrid
            RUNAS_UID0: "false"
            UNIFI_UID: "999"
            UNIFI_GID: "999"
            UNIFI_STDOUT: "true"
            JVM_INIT_HEAP_SIZE:
            JVM_MAX_HEAP_SIZE: 1024M

          resources:
            requests:
              cpu: 10m
              memory: 560Mi
            limits:
              cpu: 500m
              memory: 1.5Gi

  service:
    main:
      type: LoadBalancer
      annotations:
        # Cilium v1.16+
        lbipam.cilium.io/ips: "192.168.193.2"
        # Cilium v1.15
        io.cilium/lb-ipam-ips: "192.168.193.2"
      externalTrafficPolicy: Local
      ports:
        http:
          port: 8443
          protocol: HTTPS
        controller:
          enabled: true
          port: 8080
          protocol: TCP
        portal-http:
          enabled: false
          port: 8880
          protocol: HTTP
        portal-https:
          enabled: false
          port: 8843
          protocol: HTTPS
        speedtest:
          enabled: true
          port: 6789
          protocol: TCP
        stun:
          enabled: true
          port: 3478
          protocol: UDP
        syslog:
          enabled: true
          port: 5514
          protocol: UDP
        discovery:
          enabled: true
          port: 10001
          protocol: UDP
  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      hosts:
        - host: &host unifi.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: unifi-tls-certificate

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /unifi
      existingClaim: config-unifi
