apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-datasource-config
  namespace: monitoring
  labels:
    grafana_datasource: "1"
data:
  loki-datasource.yaml: |-
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        url: http://loki.loki:3100
        access: proxy
        isDefault: false
        version: 1
