---
- name: Add media group
  group:
    name: media
    gid: 501
  tags:
    - setup

- name: Add media user
  user:
    name: media
    shell: /bin/bash
    uid: 995
    home: /var/lib/media
    groups: media
    append: true
  tags:
    - setup

- name: Backup user
  import_tasks: backup-user.yml
  when: ansible_hostname == 'grigri'
  tags:
    - setup
    - backup-user

- name: Notifications
  import_tasks: notifications.yml
  tags:
    - setup
    - notifications

- name: Install smartctl
  apt:
    name: smartmontools
    state: present
    force_apt_get: true
    update_cache: true
  tags:
    - setup

- name: Ensure smartctl configured for sending notification errors
  lineinfile:
    path: /etc/smartd.conf
    regexp: '^DEVICESCAN'
    line: DEVICESCAN -H -M once -m pando855@gmail.com -n standby,10,q
  tags:
    - setup

- name: Configure ZFS
  import_tasks: zfs.yml
  tags:
    - setup
    - zfs
