apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nextcloud

resources:
  - resources/coturn/certificate.yaml
  - resources/coturn/external-secret.yaml
  - resources/coturn/network-policy.yaml
  - resources/external-secrets.yaml
  - resources/kanidm-groups.yaml
  - resources/kanidm-oauth2-client.yaml
  - resources/postgresql.yaml
  - resources/pvc.yaml
  - resources/snapshots-postgresql.yaml
  - resources/snapshots.yaml

helmCharts:
  - name: nextcloud
    namespace: nextcloud
    releaseName: nextcloud
    repo: https://nextcloud.github.io/helm/
    valuesFile: nextcloud.yaml
    version: 8.9.0
  - name: app-template
    namespace: nextcloud
    releaseName: nextcloud
    repo: https://bjw-s-labs.github.io/helm-charts/
    valuesFile: redis.yaml
    version: 4.6.2
  - name: app-template
    namespace: nextcloud
    releaseName: coturn
    repo: https://bjw-s-labs.github.io/helm-charts/
    valuesFile: coturn.yaml
    version: 4.6.2
