app-template:
  controllers:
    kanidmd:
      annotations:
        configmap.reloader.stakater.com/reload: kanidm-kanidmd-config
        secret.reloader.stakater.com/reload: idm-external-tls-certificate
      type: statefulset
      containers:
        kanidmd:
          image:
            repository: kanidm/server
            tag: 1.1.0-rc.16

          resources:
            requests:
              cpu: 10m
              memory: 90Mi
            limits:
              memory: 2Gi

          probes:
            liveness: &probe
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /status
                  port: &port 8443
                  scheme: HTTPS
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probe
            startup:
              enabled: false

  configMaps:
    kanidmd-config:
      enabled: true
      data:
        server.toml: |
          bindaddress = "0.0.0.0:8443"
          ldapbindaddress = "0.0.0.0:3636"
          #
          trust_x_forward_for = true
          db_path = "/data/kanidm.db"
          tls_chain = "/data/tls/tls.crt"
          tls_key = "/data/tls/tls.key"
          log_level = "info"
          domain = "idm.grigri.cloud"
          origin = "https://idm.grigri.cloud"
          role = "WriteReplica"
          [online_backup]
          path = "/data/kanidm/backups/"
          schedule = "00 2 * * *"
          versions = 1

  service:
    kanidmd:
      controller: kanidmd
      ports:
        http:
          port: *port
    ldaps:
      controller: kanidmd
      type: LoadBalancer
      annotations:
        # Cilium v1.16+
        lbipam.cilium.io/ips: "192.168.193.8"
        # Cilium v1.15
        io.cilium/lb-ipam-ips: "192.168.193.8"
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/hostname: ldaps.idm.internal.grigri.cloud
      ports:
        ldaps:
          port: 636
          protocol: TCP
          targetPort: 3636

  ingress:
    kanidmd:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      hosts:
        - host: &host idm.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: kanidmd
                port: http
      tls:
        - hosts:
            - *host
            - ldaps.idm.internal.grigri.cloud
          secretName: idm-external-tls-certificate

  defaultPodOptions:
    securityContext:
      runAsUser: 389
      runAsGroup: 389
      fsGroup: 389
      fsGroupChangePolicy: "OnRootMismatch"

  persistence:
    data:
      enabled: true
      globalMounts:
        - path: /data
      existingClaim: kanidm-data-0
    kanidmd-config:
      enabled: true
      globalMounts:
        - path: /data/server.toml
          subPath: server.toml
      type: configMap
      name: kanidm-kanidmd-config
    certs:
      enabled: true
      type: secret
      name: idm-external-tls-certificate
      globalMounts:
        - path: /data/tls
