[Unit]
Description=Telegram notification server service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/telegram-notification start
ExecStop=/usr/local/bin/telegram-notification stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

[Unit]
Wants=network-online.target
After=network-online.target
