app-template:
  controllers:
    main:
      replicas: 1
      # HA is not supported
      strategy: Recreate
      containers:
        main:
          image:
            repository: deluan/navidrome
            tag: 0.50.1

          env:
            ND_REVERSEPROXYUSERHEADER: "X-Auth-Request-Preferred-Username"
            ND_REVERSEPROXYWHITELIST: "10.0.0.0/8"
            ND_SCANSCHEDULE: 1h
            ND_LOGLEVEL: info
            ND_SESSIONTIMEOUT: 24h
            ND_DATAFOLDER: /data
            ND_MUSICFOLDER: /music
            ND_AUTOIMPORTPLAYLISTS: "true"
            ND_LASTFM_ENABLED: "true"
            ND_LASTFM_LANGUAGE: es
          envFrom:
            - secretRef:
                name: navidrome-secret

          resources:
            requests:
              cpu: 10m
              memory: 256Mi
            limits:
              memory: 512Mi

  service:
    main:
      ports:
        http:
          port: 4533
  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
        nginx.ingress.kubernetes.io/configuration-snippet: |
          more_set_headers "X-Auth-Request-Preferred-Username: agil";
      hosts:
        - host: &host navidrome.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: navidrome-tls-certificate

    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
        nginx.ingress.kubernetes.io/auth-response-headers: "X-Auth-Request-Preferred-Username"
      hosts:
        - host: &host navidrome.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: navidrome-external-tls-certificate

  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 991
      fsGroup: 991

  persistence:
    music:
      enabled: true
      globalMounts:
        - path: /music
      existingClaim: music-navidrome-zfs
    data:
      enabled: true
      globalMounts:
        - path: /data
      existingClaim: data-navidrome-zfs
