app-template:
  controllers:
    stump:
      labels:
        backup/retain: quaterly
      type: statefulset
      containers:
        stump:
          image:
            repository: aaronleopold/stump
            tag: nightly@sha256:c5a13d1544b631302a31af030730d630b9ea713b3a43f8c08a7ea156d657d115
          env:
            STUMP_IN_DOCKER: "true"
            STUMP_CONFIG_DIR: /config
            # 0->NONE, 1->INFO, 2->DEBUG, 3->TRACE
            STUMP_VERBOSITY: "1"
            # it doesn't work because it tries to remove /etc/timezone
            # TZ: Europe/Madrid

          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet: &httpGet
                  path: /api/v1/ping
                  port: &port 10801
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: true
              custom: true
              spec:
                httpGet: *httpGet
                failureThreshold: 30
                periodSeconds: 10

          resources:
            requests:
              cpu: 10m
              memory: 200Mi
            limits:
              memory: 10Gi

  service:
    stump:
      controller: stump
      ports:
        http:
          port: *port

  ingress:
    stump:
      enabled: true
      className: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host stump.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: stump
                port: http
      tls:
        - hosts:
            - *host
          secretName: stump-tls-certificate
    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host stump.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: stump
                port: http
      tls:
        - hosts:
            - *host
          secretName: stump-external-tls-certificate
  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 501
      fsGroup: 501
      fsGroupChangePolicy: "OnRootMismatch"
    enableServiceLinks: false
    nodeSelector:
      kubernetes.io/hostname: prusik

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /config
      existingClaim: config-stump
    libros:
      enabled: true
      type: hostPath
      hostPath: /datasets/libros
      globalMounts:
        - path: /datasets/libros
