apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: long-term-prometheus
  namespace: monitoring
spec:
  alerting:
    alertmanagers:
      - apiVersion: v2
        name: monitoring-kube-prometheus-alertmanager
        namespace: monitoring
        pathPrefix: /
        port: http-web
  enableAdminAPI: false
  evaluationInterval: 1m
  externalUrl: http://prometheus-long-term.internal.grigri.cloud/
  hostNetwork: false
  # renovate: datasource=docker
  image: quay.io/prometheus/prometheus:v2.47.1
  # renovate: datasource=docker depName=quay.io/prometheus/prometheus
  version: v2.47.1
  listenLocal: false
  logFormat: logfmt
  logLevel: info
  paused: false
  podMonitorSelector:
    matchLabels:
      operator.prometheus.io/instance: prometheus-long-term
  portName: http-web
  probeSelector:
    matchLabels:
      operator.prometheus.io/instance: prometheus-long-term
  replicas: 1
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 10m
      memory: 50Mi
  routePrefix: /
  ruleNamespaceSelector: {}
  ruleSelector:
    matchLabels:
      operator.prometheus.io/instance: prometheus-long-term
  scrapeConfigNamespaceSelector: {}
  scrapeConfigSelector:
    matchLabels:
      operator.prometheus.io/instance: prometheus-long-term
  scrapeInterval: 1m
  securityContext:
    fsGroup: 2000
    runAsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
    seccompProfile:
      type: RuntimeDefault
  serviceAccountName: monitoring-kube-prometheus-prometheus
  serviceMonitorNamespaceSelector: {}
  serviceMonitorSelector:
    matchLabels:
      operator.prometheus.io/instance: prometheus-long-term
  shards: 1
  walCompression: true
  retention: 9999d
  retentionSize: 200GB
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 200Gi
        storageClassName: zfs-local-dataset
