[Unit]
Description=PiKVM - A small fan controller daemon
After=systemd-modules-load.service

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/kvmd-fan
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
