app-template:
  controllers:
    main:
      replicas: 1
      # HA is not supported
      strategy: Recreate
      containers:
        main:
          image:
            repository: ghcr.io/onedr0p/prowlarr-nightly
            tag: 1.9.4.4035@sha256:fd3d494868e175a095bf21a4668dfd406c6c8aa781595c563ae9654dc228c619

          probes:
            liveness: &probes
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: &port 9696
                initialDelaySeconds: 0
                periodSeconds: 10
                timeoutSeconds: 1
                failureThreshold: 3
            readiness: *probes
            startup:
              enabled: false

          env:
            TZ: Europe/Madrid
            PROWLARR__INSTANCE_NAME: Prowlarr
            PROWLARR__PORT: *port
            PROWLARR__LOG_LEVEL: info

          resources:
            requests:
              cpu: 10m
              memory: 200Mi
            limits:
              cpu: 1
              memory: 400Mi

  service:
    main:
      ports:
        http:
          port: *port

  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host prowlarr.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: prowlarr-tls-certificate

    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
      hosts:
        - host: &host prowlarr.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: prowlarr-external-tls-certificate

  defaultPodOptions:
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /config
      existingClaim: prowlarr-config-zfs
