app-template:
  controller:
    # HA is not supported
    replicas: 1

  image:
    repository: ghcr.io/onedr0p/prowlarr-nightly
    pullPolicy: IfNotPresent
    tag: 1.8.2.3839@sha256:a4f1a42ae9f5ae4587632036b21b60175c4052b9a4d864403b7a5d36eb2bff37
  strategy:
    type: Recreate
  env:
    TZ: Europe/Madrid
    PROWLARR__INSTANCE_NAME: Prowlarr
    PROWLARR__PORT: &port 9696
    PROWLARR__LOG_LEVEL: info

  service:
    main:
      ports:
        http:
          port: *port

  probes:
    liveness: &probes
      enabled: true
      custom: true
      spec:
        httpGet:
          path: /ping
          port: *port
        initialDelaySeconds: 0
        periodSeconds: 10
        timeoutSeconds: 1
        failureThreshold: 3
    readiness: *probes
    startup:
      enabled: false

  ingress:
    main:
      enabled: true
      ingressClassName: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        hajimari.io/appName: prowlarr
        hajimari.io/icon: t-shirt-crew
        hajimari.io/instance: internal
        hajimari.io/group: Media
      hosts:
        - host: &host prowlarr.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: prowlarr-tls-certificate

    external:
      enabled: true
      ingressClassName: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth-kanidm.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth-kanidm.grigri.cloud/oauth2/start
      hosts:
        - host: &host prowlarr.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: prowlarr-external-tls-certificate

  podSecurityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: "OnRootMismatch"

  persistence:
    config:
      enabled: true
      mountPath: /config
      existingClaim: prowlarr-config-zfs

  resources:
    requests:
      cpu: 10m
      memory: 200Mi
    limits:
      cpu: 1
      memory: 400Mi
