app-template:
  controllers:
    bazarr:
      labels:
        backup/retain: weekly
      type: statefulset
      pod:
        nodeSelector:
          kubernetes.io/hostname: prusik
      containers:
        bazarr:
          image:
            repository: ghcr.io/onedr0p/bazarr
            tag: 1.4.3@sha256:d2b70813f7d636fb1ab3448e13ca4074630b63216c6c6d02d034cd5d9e938ea3

          env:
            TZ: Europe/Madrid
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              cpu: 1
              memory: 1Gi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5

        subcleaner:
          image:
            repository: registry.k8s.io/git-sync/git-sync
            tag: v4.2.4
          args:
            - --repo=https://github.com/KBlixt/subcleaner.git
            - --branch=master
            - --depth=1
            - --period=6h
            - --root=/add-ons/subcleaner
  service:
    bazarr:
      controller: bazarr
      ports:
        http:
          port: 6767

  ingress:
    bazarr:
      enabled: true
      className: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host bazarr.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: bazarr
                port: http
      tls:
        - hosts:
            - *host
          secretName: bazarr-tls-certificate

    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth?allowed_groups=bazarr-users
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
        nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
      hosts:
        - host: &host bazarr.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: bazarr
                port: http
      tls:
        - hosts:
            - *host
          secretName: bazarr-external-tls-certificate
  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 501
      fsGroup: 501
      fsGroupChangePolicy: "OnRootMismatch"

  persistence:
    config:
      enabled: true
      existingClaim: config-bazarr
      advancedMounts:
        bazarr:
          bazarr:
            - path: /config
    series:
      enabled: true
      type: hostPath
      hostPath: /datasets/series
      advancedMounts:
        bazarr:
          bazarr:
            - path: /datasets/series
    peliculas:
      enabled: true
      type: hostPath
      hostPath: /datasets/peliculas
      advancedMounts:
        bazarr:
          bazarr:
            - path: /datasets/peliculas
    add-ons:
      enabled: true
      type: emptyDir
      advancedMounts:
        bazarr:
          bazarr:
            - path: /add-ons
          subcleaner:
            - path: /add-ons
