app-template:
  controllers:
    main:
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/onedr0p/bazarr
            tag: 1.3.0@sha256:6f78c727bff1fa56ba1be9fdd3d98e83b71a3405152dd6b47596af754d23e8a0

          env:
            TZ: Europe/Madrid
          resources:
            requests:
              cpu: 10m
              memory: 250Mi
            limits:
              cpu: 1
              memory: 500Mi

        subcleaner:
          image:
            repository: registry.k8s.io/git-sync/git-sync
            tag: v4.0.0
          args:
            - --repo=https://github.com/KBlixt/subcleaner.git
            - --branch=master
            - --depth=1
            - --period=6h
            - --root=/add-ons/subcleaner

  service:
    main:
      ports:
        http:
          port: 6767

  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host bazarr.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: bazarr-tls-certificate

    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
      hosts:
        - host: &host bazarr.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: bazarr-external-tls-certificate
  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 991
      fsGroup: 991
      fsGroupChangePolicy: "OnRootMismatch"

    nodeSelector:
      name: grigri
  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /config
      existingClaim: config-bazarr-zfs
    series:
      enabled: true
      type: hostPath
      hostPath: /datasets/series
      globalMounts:
        - path: /datasets/series
    peliculas:
      enabled: true
      type: hostPath
      hostPath: /datasets/peliculas
      globalMounts:
        - path: /datasets/peliculas
    add-ons:
      enabled: true
      type: emptyDir
      globalMounts:
        - path: /add-ons
