app-template:
  image:
    repository: ghcr.io/onedr0p/qbittorrent
    tag: 4.5.5@sha256:30dffe7ad04ea0e39db0b50c0bd5e79362f99f7ff6b250526d2f389b58d96f14

  podSecurityContext:
    runAsUser: 995
    runAsGroup: 991
    fsGroup: 991
    fsGroupChangePolicy: "OnRootMismatch"

  env:
    UMASK: "022"
    QBITTORRENT__PORT: &port 8080
    QBITTORRENT__USE_PROFILE: "true"

  hostname: qbittorrent

  sidecars:
    metrics:
      image: ghcr.io/esanchezm/prometheus-qbittorrent-exporter:latest@sha256:4c019f0c9c8f06a119e2a32b8b338843a782045dce94fa0bef9a94b5f80450f8
      env:
        QBITTORRENT_HOST: localhost
        QBITTORRENT_PORT: *port
      resources:
        requests:
          cpu: 15m
          memory: 19Mi
        limits:
          memory: 100Mi

      ports:
        - name: metrics
          containerPort: &metrics_port 8000
          protocol: TCP

      livenessProbe:
        failureThreshold: 3
        periodSeconds: 30
        tcpSocket:
          port: *metrics_port
        timeoutSeconds: 1
      readinessProbe:
        failureThreshold: 3
        periodSeconds: 30
        tcpSocket:
          port: *metrics_port
        timeoutSeconds: 1

  service:
    main:
      ports:
        http:
          port: *port
        metrics:
          port: *metrics_port

    bittorrent:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/loadBalancerIPs: "192.168.193.7"
        external-dns.alpha.kubernetes.io/enabled: "true"
      externalTrafficPolicy: Local
      ports:
        bittorrent:
          enabled: true
          port: 50413
          protocol: TCP
          targetPort: 50413

  serviceMonitor:
    main:
      enabled: true
      endpoints:
        - port: metrics
          scheme: http
          path: /metrics
          interval: 30s
          scrapeTimeout: 30s

  ingress:
    main:
      enabled: true
      ingressClassName: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
      hosts:
        - host: &host qbittorrent.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - *host
          secretName: qbittorrent-tls-certificate

    external:
      enabled: true
      ingressClassName: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
      hosts:
        - host: &host qbittorrent.grigri.cloud
          paths:
            - path: /
      tls:
        - hosts:
            - *host
          secretName: qbittorrent-external-tls-certificate

  persistence:
    config:
      enabled: true
      mountPath: /config
      existingClaim: config-qbittorrent-zfs

    series:
      enabled: true
      type: hostPath
      hostPath: /datasets/series/download
      mountPath: /datasets/series/download

    peliculas:
      enabled: true
      type: hostPath
      hostPath: /datasets/peliculas/download
      mountPath: /datasets/peliculas/download

  resources:
    requests:
      cpu: 330m
      memory: 800Mi
    limits:
      memory: 800Mi

  probes:
    liveness: &probe
      enabled: true
    readiness: *probe
  nodeSelector:
    name: grigri
