app-template:
  controllers:
    qbittorrent:
      labels:
        backup/retain: quaterly
      replicas: 1
      containers:
        qbittorrent:
          image:
            repository: ghcr.io/onedr0p/qbittorrent
            tag: 4.6.7@sha256:5391f94b321d563c3b44136a5e799b7e4e4888926c1c31d3081a1cf3e74a9aec

          env:
            UMASK: "022"
            QBITTORRENT__PORT: &port 8080
            QBITTORRENT__USE_PROFILE: "true"

          resources:
            requests:
              cpu: 330m
              memory: 1.4Gi
            limits:
              memory: 2.4Gi

          probes:
            liveness: &probe
              enabled: true
              custom: true
              spec:
                failureThreshold: 3
                periodSeconds: 10
                tcpSocket:
                  port: *port
                timeoutSeconds: 1
            readiness: *probe
        metrics:
          image:
            repository: ghcr.io/esanchezm/prometheus-qbittorrent-exporter
            tag: latest@sha256:f56b3fb159128dc3fb50513fe7edfe9cb895a1c42d4f74d56125cc6bb801ca2e
          env:
            QBITTORRENT_HOST: localhost
            QBITTORRENT_PORT: *port
          resources:
            requests:
              cpu: 15m
              memory: 19Mi
            limits:
              memory: 100Mi

          ports:
            - name: metrics
              containerPort: &metrics_port 8000
              protocol: TCP

          probes:
            liveness: &metrics_probe
              enabled: true
              custom: true
              spec:
                failureThreshold: 3
                periodSeconds: 30
                tcpSocket:
                  port: *metrics_port
                timeoutSeconds: 1
            readiness: *metrics_probe

  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 501
      fsGroup: 501
      fsGroupChangePolicy: "OnRootMismatch"

    hostname: qbittorrent

    # uncomment after restore:
    #nodeSelector:
    #  kubernetes.io/hostname: prusik

  service:
    qbittorrent:
      controller: qbittorrent
      ports:
        http:
          port: *port
        metrics:
          port: *metrics_port

    bittorrent:
      controller: qbittorrent
      type: LoadBalancer
      annotations:
        # Cilium v1.16+
        lbipam.cilium.io/ips: "192.168.193.7"
        # Cilium v1.15
        io.cilium/lb-ipam-ips: "192.168.193.7"
        external-dns.alpha.kubernetes.io/enabled: "true"
      externalTrafficPolicy: Local
      ports:
        bittorrent:
          enabled: true
          port: 50413
          protocol: TCP
          targetPort: 50413

  serviceMonitor:
    qbittorrent:
      enabled: true
      serviceName: qbittorrent
      labels:
        release: monitoring
      endpoints:
        - port: metrics
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 30s

  ingress:
    qbittorrent:
      enabled: true
      className: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
      hosts:
        - host: &host qbittorrent.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: qbittorrent
                port: http
      tls:
        - hosts:
            - *host
          secretName: qbittorrent-tls-certificate

    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth?allowed_groups=qbittorrent-users@idm.grigri.cloud
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
        nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
      hosts:
        - host: &host qbittorrent.grigri.cloud
          paths:
            - path: /
              service:
                identifier: qbittorrent
                port: http
      tls:
        - hosts:
            - *host
          secretName: qbittorrent-external-tls-certificate

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /config
      existingClaim: config-qbittorrent

    series:
      enabled: true
      type: hostPath
      hostPath: /datasets/series/download
      globalMounts:
        - path: /datasets/series/download

    peliculas:
      enabled: true
      type: hostPath
      hostPath: /datasets/peliculas/download
      globalMounts:
        - path: /datasets/peliculas/download
