app-template:
  controllers:
    main:
      containers:
        main:
          image:
            repository: ghcr.io/onedr0p/qbittorrent
            tag: 4.6.0@sha256:cb6259df3be61a5108bc4f85b09a523fc4b250589ca9b315ef927cbdf779afb6

          env:
            UMASK: "022"
            QBITTORRENT__PORT: &port 8080
            QBITTORRENT__USE_PROFILE: "true"

          resources:
            requests:
              cpu: 330m
              memory: 1.1Gi
            limits:
              memory: 1.4Gi

          probes:
            liveness: &probe
              enabled: true
            readiness: *probe
        metrics:
          image:
            repository: ghcr.io/esanchezm/prometheus-qbittorrent-exporter
            tag: latest@sha256:4c019f0c9c8f06a119e2a32b8b338843a782045dce94fa0bef9a94b5f80450f8
          env:
            QBITTORRENT_HOST: localhost
            QBITTORRENT_PORT: *port
          resources:
            requests:
              cpu: 15m
              memory: 19Mi
            limits:
              memory: 100Mi

          ports:
            - name: metrics
              containerPort: &metrics_port 8000
              protocol: TCP

          probes:
            liveness:
              enabled: true
              spec:
                failureThreshold: 3
                periodSeconds: 30
                tcpSocket:
                  port: *metrics_port
                timeoutSeconds: 1
            readiness:
              enabled: true
              spec:
                failureThreshold: 3
                periodSeconds: 30
                tcpSocket:
                  port: *metrics_port
                timeoutSeconds: 1

  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 991
      fsGroup: 991
      fsGroupChangePolicy: "OnRootMismatch"

    hostname: qbittorrent

    nodeSelector:
      name: grigri

  service:
    main:
      ports:
        http:
          port: *port
        metrics:
          port: *metrics_port

    bittorrent:
      controller: main
      type: LoadBalancer
      annotations:
        metallb.universe.tf/loadBalancerIPs: "192.168.193.7"
        external-dns.alpha.kubernetes.io/enabled: "true"
      externalTrafficPolicy: Local
      ports:
        bittorrent:
          enabled: true
          port: 50413
          protocol: TCP
          targetPort: 50413

  serviceMonitor:
    main:
      enabled: true
      labels:
        release: monitoring
      endpoints:
        - port: metrics
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 30s

  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
      hosts:
        - host: &host qbittorrent.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: qbittorrent-tls-certificate

    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
      hosts:
        - host: &host qbittorrent.grigri.cloud
          paths:
            - path: /
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: qbittorrent-external-tls-certificate

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /config
      existingClaim: config-qbittorrent-zfs

    series:
      enabled: true
      type: hostPath
      hostPath: /datasets/series/download
      globalMounts:
        - path: /datasets/series/download

    peliculas:
      enabled: true
      type: hostPath
      hostPath: /datasets/peliculas/download
      globalMounts:
        - path: /datasets/peliculas/download
