# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  # Load packages
  packages: !include_dir_named integrations

script: !include_dir_merge_named script

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 0.0.0.0/0

recorder:
  db_url: !env_var ZZ_DB_URL

prometheus:
  namespace: hass
  requires_auth: false

telegram_bot: !include secrets/telegram_bot.yaml
notify: !include secrets/notify.yaml
