app-template:
  controllers:
    main:
      replicas: 1
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
      initContainers:
        01-init-config:
          image:
            repository: public.ecr.aws/docker/library/eclipse-mosquitto
            tag: 2.0.18
          command:
            - /bin/sh
            - -c
          args:
            - >
              cp /tmp/secret/* /mosquitto/external_config/ &&
              chmod 600 /mosquitto/external_config/mosquitto_pwd &&
              mosquitto_passwd -U /mosquitto/external_config/mosquitto_pwd
      containers:
        main:
          image:
            repository: public.ecr.aws/docker/library/eclipse-mosquitto
            tag: 2.0.18
          resources:
            requests:
              cpu: 10m
              memory: 20M
            limits:
              memory: 50M
        exporter:
          image:
            repository: sapcc/mosquitto-exporter
            tag: 0.8.0
          resources:
            requests:
              cpu: 10m
              memory: 20M
            limits:
              memory: 50M
          env:
            - name: MQTT_USER
              valueFrom:
                secretKeyRef:
                  name: mosquitto-user
                  key: username
            - name: MQTT_PASS
              valueFrom:
                secretKeyRef:
                  name: mosquitto-user
                  key: password
  service:
    main:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/loadBalancerIPs: "192.168.193.9"
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/hostname: mosquitto.internal.grigri.cloud
      externalTrafficPolicy: Local
      ports:
        http:
          enabled: false
        mqtt:
          port: 1883
        websockets:
          port: 8083
        metrics:
          port: 9234

  defaultPodOptions:
    securityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /data
      existingClaim: mosquitto-data-zfs
    config-file:
      type: configMap
      name: mosquitto-config
      advancedMounts:
        main:
          main:
            - path: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
    secret-file:
      type: secret
      name: mosquitto-user
      advancedMounts:
        main:
          01-init-config:
            - path: /tmp/secret
    external-config:
      type: emptyDir
      globalMounts:
        - path: /mosquitto/external_config

  serviceMonitor:
    main:
      enabled: true
      labels:
        release: monitoring
      endpoints:
        - port: metrics
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 30s
