app-template:
  controllers:
    main:
      replicas: 1
      containers:
        main:
          image:
            repository: pando85/quotes-simple-web-api
            tag: 1.0.0

          probes:
            liveness: &probe
              custom: true
              spec:
                httpGet:
                  path: /ping
                  port: &port 8080
            readiness: *probe

          env:
            CORS_ALLOW_ORIGIN: https://m.rajoy.grigri.cloud
            AUDIOS_PATH: /data/mariano-rajoy/audios_output
            QUOTES_PATH: /data/mariano-rajoy/quotes_output
            QUOTES_AUTHOR: Mariano Rajoy
            QUOTES_AUDIO_KEY: '["audio"]'
            QUOTES_TRANSCRIPT_KEY: '["quote"]'

          resources:
            requests:
              cpu: 100m
              memory: 22Mi
            limits:
              cpu: 500m
              memory: 128Mi

  service:
    main:
      ports:
        http:
          port: *port

  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
      hosts:
        - host: &host api.m.rajoy.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: m-rajoy-api-tls-certificate

    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host api.m.rajoy.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: m-rajoy-api-external-tls-certificate

  defaultPodOptions:
    securityContext:
      runAsUser: 995
      runAsGroup: 991
      fsGroup: 991

    enableServiceLinks: false

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/instance: m-rajoy-api
            app.kubernetes.io/name: m-rajoy-api

  persistence:
    data:
      enabled: true
      globalMounts:
        - path: /data/mariano-rajoy
      existingClaim: m-rajoy-api-data-zfs
