app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      replicas: 1
      containers:
        main:
          image:
            repository: ghcr.io/onedr0p/home-assistant
            tag: 2023.11.2@sha256:29a2a48386bcd182c97229892ef123f4ee9d4b1dead7e5ea31a2ecc85fa13ab3
          env:
            TZ: Europe/Madrid
            POSTGRES_USER:
              valueFrom:
                secretKeyRef:
                  name: home-assistant.home-assistant-postgres.credentials.postgresql.acid.zalan.do
                  key: username
            POSTGRES_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: home-assistant.home-assistant-postgres.credentials.postgresql.acid.zalan.do
                  key: password
            ZZ_DB_URL: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@home-assistant-postgres/home_assistant"
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false

          resources:
            requests:
              cpu: 10m
              memory: 350Mi
            limits:
              memory: 1Gi
    appdaemon:
      annotations:
        reloader.stakater.com/auto: "true"
      type: deployment
      replicas: 1
      initContainers:
        01-init-config:
          image:
            repository: debian
            tag: 12.2-slim
          command:
            - /bin/sh
            - -c
          args:
            - >
              cp -r /original/conf/* /conf/
      containers:
        main:
          image:
            repository: acockburn/appdaemon
            tag: 4.4.2
          env:
            HA_URL: http://home-assistant:8123
            DASH_URL: https://appdaemon.grigri.cloud
            TIMEZONE: Europe/Madrid
          envFrom:
            - secretRef:
                name: hass-appdaemon
          resources:
            requests:
              cpu: 10m
              memory: 50Mi
            limits:
              memory: 200Mi
    whisper:
      type: deployment
      replicas: 1
      containers:
        main:
          image:
            repository: rhasspy/wyoming-whisper
            tag: 1.0.0
          args:
            - --model
            - medium-int8
            - --language
            - es
          resources:
            requests:
              cpu: 15m
              memory: 1.2Gi
            limits:
              memory: 3.6Gi
    piper:
      type: deployment
      replicas: 1
      containers:
        main:
          image:
            repository: rhasspy/wyoming-piper
            tag: 1.4.0
          args:
            - --voice
            - es_ES-sharvard-medium
          resources:
            requests:
              cpu: 15m
              memory: 300Mi

  defaultPodOptions:
    enableServiceLinks: false
    terminationGracePeriodSeconds: "1"

    securityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: "OnRootMismatch"

    affinity:
      podAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                    - home-assistant
            topologyKey: kubernetes.io/hostname

  service:
    main:
      ports:
        http:
          port: 8123
    appdaemon:
      controller: appdaemon
      ports:
        http:
          port: 80
    whisper:
      controller: whisper
      ports:
        http:
          port: 10300
    piper:
      controller: piper
      ports:
        http:
          port: 10200
  ingress:
    main:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host hass.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: home-assistant-external-tls-certificate
    appdaemon:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
      hosts:
        - host: &host appdaemon.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: appdaemon
                port: http
      tls:
        - hosts:
            - *host
          secretName: hass-appdaemon-tls-certificate

  persistence:
    config:
      enabled: true
      existingClaim: home-assistant-config-zfs
      advancedMounts:
        main:
          main:
            - path: /config
    configmap:
      enabled: true
      type: configMap
      name: home-assistant-config
      advancedMounts:
        main:
          main:
            - path: /config/gitops
    secret:
      enabled: true
      type: secret
      name: hass-secrets
      advancedMounts:
        main:
          main:
            - path: /config/gitops/secrets
    configmap-integrations:
      enabled: true
      type: configMap
      name: home-assistant-config-integrations
      advancedMounts:
        main:
          main:
            - path: /config/gitops/integrations
    configmap-script:
      enabled: true
      type: configMap
      name: home-assistant-config-script
      advancedMounts:
        main:
          main:
            - path: /config/gitops/script
    appdaemon:
      enabled: true
      type: configMap
      name: hass-appdaemon
      advancedMounts:
        appdaemon:
          01-init-config:
            - path: /original/conf
    appdaemon-apps:
      enabled: true
      type: configMap
      name: hass-appdaemon-apps
      advancedMounts:
        appdaemon:
          01-init-config:
            - path: /original/conf/apps
    appdaemon-cache:
      type: emptyDir
      advancedMounts:
        appdaemon:
          01-init-config:
            - path: /conf
          main:
            - path: /conf
    whisper:
      enabled: true
      type: emptyDir
      sizeLimit: 5Gi
      advancedMounts:
        whisper:
          main:
            - path: /data
    piper:
      enabled: true
      type: emptyDir
      sizeLimit: 5Gi
      advancedMounts:
        piper:
          main:
            - path: /data

  serviceMonitor:
    main:
      enabled: true
      labels:
        operator.prometheus.io/instance: prometheus-long-term
      endpoints:
        - port: http
          scheme: http
          path: /api/prometheus
