version = 3
root = "/var/lib/rancher/k3s/agent/containerd"
state = "/run/k3s/containerd"
imports = ["/opt/kata/containerd/config.d/kata-deploy.toml", "/opt/gvisor/containerd/config.d/gvisor-deploy.toml"]

[grpc]
address = "/run/k3s/containerd/containerd.sock"

[plugins."io.containerd.internal.v1.opt"]
path = "/var/lib/rancher/k3s/agent/containerd"

[plugins."io.containerd.grpc.v1.cri"]
stream_server_address = "127.0.0.1"
stream_server_port = "10010"

[plugins."io.containerd.cri.v1.runtime"]
enable_selinux = false
enable_unprivileged_ports = true
enable_unprivileged_icmp = true
device_ownership_from_security_context = false

[plugins."io.containerd.cri.v1.runtime".containerd.runtimes.runc]
runtime_type = "io.containerd.runc.v2"

[plugins."io.containerd.cri.v1.runtime".containerd.runtimes.runc.options]
SystemdCgroup = true

[plugins."io.containerd.cri.v1.runtime".containerd.runtimes.runhcs-wcow-process]
runtime_type = "io.containerd.runhcs.v1"

[plugins."io.containerd.cri.v1.images"]
snapshotter = "overlayfs"
disable_snapshot_annotations = true
use_local_image_pull = true

[plugins."io.containerd.cri.v1.images".pinned_images]
sandbox = "rancher/mirrored-pause:3.6"

[plugins."io.containerd.cri.v1.images".registry]
config_path = "/var/lib/rancher/k3s/agent/etc/containerd/certs.d"
