apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app.kubernetes.io/name: prometheus-smartctl-exporter
  name: monitoring-prometheus-smartctl-exporter-custom.rules
spec:
  groups:
    - name: smartctl-exporter-custom.rules
      rules:
        - alert: SmartCTLDeviceHighTemperature
          annotations:
            description: |
              Device {{ $labels.device }} on instance {{ $labels.instance }} has
              a temperature of {{ $value }} celsius degrees.
          expr: smartctl_device_temperature > 41
          for: 60m
          labels:
            severity: warning
