apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: zfs-exporter
  labels:
    release: monitoring
spec:
  groups:
    - name: zfs-exporter.rules
      rules:
{{- range $path, $_ :=  .Files.Glob  "rules/*.yaml" }}
{{ $.Files.Get $path | indent 8 }}
{{ end }}
