app-template:
  controllers:
    esphome:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      # hack to make devices show as online
      initContainers:
        config:
          image:
            repository: debian
            tag: 13.2-slim
          command:
            - /bin/sh
            - -c
          args:
            - >
              cp -r --dereference /original/config/* /config
      containers:
        esphome:
          image:
            repository: ghcr.io/esphome/esphome
            tag: 2025.10.5@sha256:4c0d14265d2ddce3e3d3c4835c5dee925619a7bcab8291862f0ec712d5a91e27
          env:
            ESPHOME_DASHBOARD_USE_PING: "true"
          resources:
            requests:
              cpu: 10m
              memory: 1374M
            limits:
              cpu: "10"
              memory: 8Gi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
  service:
    esphome:
      controller: esphome
      ports:
        http:
          port: 6052

  ingress:
    esphome:
      enabled: true
      className: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth?allowed_groups=esphome-users@idm.grigri.cloud
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
        nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
      hosts:
        - host: &host esphome.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: esphome
                port: http
      tls:
        - hosts:
            - *host
          secretName: esphome-tls-certificate

  defaultPodOptions:
    nodeSelector:
      # Required
      kubernetes.io/arch: amd64
      # Speed up builds
      kubernetes.io/hostname: prusik

  persistence:
    config:
      enabled: true
      type: custom
      globalMounts:
        - path: /original/config
      volumeSpec:
        name: all-in-one
        projected:
          sources:
            - configMap:
                name: esphome-config
            - secret:
                name: esphome-secrets
    config-packages:
      enabled: true
      type: custom
      globalMounts:
        - path: /original/config/packages
      volumeSpec:
        name: all-in-one
        projected:
          sources:
            - configMap:
                name: esphome-config-packages
    esphome-cache:
      type: emptyDir
      globalMounts:
        - path: /config
