app-template:
  controllers:
    main:
      annotations:
        reloader.stakater.com/auto: "true"
      type: statefulset
      containers:
        main:
          image:
            repository: ghcr.io/esphome/esphome
            tag: 2023.10.6@sha256:5a0276e1b57f231bafd1e75792b6a99d74def8932665acc876a8c34bfe2de8e4
          env:
            ESPHOME_DASHBOARD_USE_PING: "true"
          resources:
            requests:
              cpu: 10m
              memory: 1374M
            limits:
              memory: 2048M
  service:
    main:
      ports:
        http:
          port: 6052

  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        nginx.ingress.kubernetes.io/auth-url: https://auth.grigri.cloud/oauth2/auth
        nginx.ingress.kubernetes.io/auth-signin: https://auth.grigri.cloud/oauth2/start
      hosts:
        - host: &host esphome.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: esphome-tls-certificate

  persistence:
    config:
      enabled: true
      type: custom
      globalMounts:
        - path: /config
      volumeSpec:
        - name: all-in-one
          projected:
            sources:
              - configMap:
                  name: esphome-config
              - secret:
                  name: esphome-secrets
    esphome-cache:
      type: emptyDir
      globalMounts:
        - path: /config/.esphome
