# ntp is changed by ntpsec in Ubuntu 24.04 and Debian 12
ntp_config_file: /etc/ntpsec/ntp.conf
ntp_package: ntpsec
ntp_driftfile: /var/lib/ntpsec/ntp.drift
ntp_daemon: ntpsec

k3s_kubelet_extra_args:
  - kube-reserved=cpu=0.5,memory=1Gi,ephemeral-storage=1Gi
  - system-reserved=cpu=2,memory=10Gi,ephemeral-storage=1Gi
  - eviction-hard=memory.available<300Mi,nodefs.available<10%

zfs_arc_min_gb: 1
zfs_arc_max_gb: 25

l2arc_write_max_mb: 300
l2arc_write_boost_mb: 500
