metallb:
  existingConfigMap: metallb-config

  controller:
    enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 54Mi
      limits:
        memory: 100Mi
    livenessProbe:
      enabled: true
      periodSeconds: 30
      timeoutSeconds: 5

  speaker:
    resources:
      requests:
        cpu: 20m
        memory: 128Mi
      limits:
        memory: 200Mi

    livenessProbe:
      enabled: true
      periodSeconds: 30
      timeoutSeconds: 5
