k8sDistribution: "k3s"

nodeSelector:
  kubernetes.io/arch: amd64
debug: false

shims:
  qemu:
    enabled: true
  clh:
    enabled: false
  cloud-hypervisor:
    enabled: false
  dragonball:
    enabled: false
  fc:
    enabled: false
  qemu-runtime-rs:
    enabled: false
  qemu-nvidia-gpu:
    enabled: false
  qemu-nvidia-gpu-snp:
    enabled: false
  qemu-nvidia-gpu-tdx:
    enabled: false
  qemu-snp:
    enabled: false
  qemu-tdx:
    enabled: false
  qemu-se:
    enabled: false
  qemu-se-runtime-rs:
    enabled: false
  qemu-cca:
    enabled: false
  qemu-coco-dev:
    enabled: false
  qemu-coco-dev-runtime-rs:
    enabled: false
  remote:
    enabled: false

defaultShim:
  amd64: qemu
  arm64: qemu

runtimeClasses:
  enabled: true
  createDefault: true
  defaultName: "kata"
