apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

resources:
  - resources/cilium-bgp-config.yaml
  - resources/runtime-class.yaml

helmCharts:
  - includeCRDs: true
    name: cilium
    namespace: kube-system
    releaseName: cilium
    repo: https://helm.cilium.io/
    valuesFile: cilium-values.yaml
    version: 1.15.1
  - includeCRDs: true
    name: snapshot-controller
    namespace: kube-system
    releaseName: kube-system
    repo: https://piraeus.io/helm-charts/
    valuesFile: snapshot-controller-values.yaml
    version: 2.2.0
  - includeCRDs: true
    name: nvidia-device-plugin
    namespace: kube-system
    releaseName: kube-system
    repo: https://nvidia.github.io/k8s-device-plugin
    valuesFile: nvidia-device-plugin-values.yaml
    version: 0.14.5
  - includeCRDs: true
    name: gpu-feature-discovery
    namespace: kube-system
    releaseName: kube-system
    repo: https://nvidia.github.io/gpu-feature-discovery
    valuesFile: gpu-feature-discovery-values.yaml
    version: 0.8.2
