app-template:
  controllers:
    freshrss:
      labels:
        backup/retain: weekly
      replicas: 1
      # HA is not supported
      strategy: Recreate
      containers:
        freshrss:
          image: &image
            repository: freshrss/freshrss
            tag: 1.24.2
          env: &env
            TZ: Europe/Madrid
            # true gives error and non zero value is enough
            OIDC_ENABLED: "1"
            OIDC_PROVIDER_METADATA_URL: https://idm.grigri.cloud/oauth2/openid/freshrss/.well-known/openid-configuration
            OIDC_REMOTE_USER_CLAIM: preferred_username
            OIDC_SCOPES: "openid profile email"
            OIDC_X_FORWARDED_HEADERS: X-Forwarded-Host X-Forwarded-Port X-Forwarded-Proto
            OIDC_SESSION_INACTIVITY_TIMEOUT: "2592000"
            OIDC_SESSION_MAX_DURATION: "2592000"
            OIDC_SESSION_TYPE: client-cookie:persistent:store_id_token
            OIDCSessionInactivityTimeout: "2592000"
          envFrom:
            - secretRef:
                name: freshrss-sso
          resources:
            requests:
              cpu: 10m
              memory: 68Mi
            limits:
              cpu: 500m
              memory: 256Mi
          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
            startup:
              enabled: true
              spec:
                failureThreshold: 30
                periodSeconds: 5
    cron:
      type: cronjob
      cronjob:
        concurrencyPolicy: Forbid
        timeZone: "Europe/Madrid"
        schedule: "*/20 * * * *"
        startingDeadlineSeconds: 30
        successfulJobsHistory: 1
        failedJobsHistory: 1
        backoffLimit: 3
      containers:
        freshrss:
          image: *image
          env: *env
          command: /usr/bin/su
          args:
            - www-data
            - -s
            - /bin/sh
            - -c
            - "php /var/www/FreshRSS/app/actualize_script.php"
  service:
    freshrss:
      controller: freshrss
      ports:
        http:
          port: 80

  ingress:
    freshrss:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host freshrss.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: freshrss
                port: http
      tls:
        - hosts:
            - *host
          secretName: freshrss-external-tls-certificate

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /var/www/FreshRSS/data
      existingClaim: freshrss-config

    apache-config:
      enabled: true
      type: configMap
      name: freshrss-overwrite-apache-config
      advancedMounts:
        freshrss:
          freshrss:
            - path: /etc/apache2/sites-available/FreshRSS.Apache.conf
              subPath: FreshRSS.Apache.conf
