app-template:
  controllers:
    main:
      replicas: 1
      # HA is not supported
      strategy: Recreate
      containers:
        main:
          image: &image
            repository: freshrss/freshrss
            tag: 1.23.1
          env: &env
            TZ: Europe/Madrid
            # true gives error and non zero value is enough
            OIDC_ENABLED: "1"
            OIDC_PROVIDER_METADATA_URL: https://idm.grigri.cloud/oauth2/openid/freshrss/.well-known/openid-configuration
            OIDC_REMOTE_USER_CLAIM: preferred_username
            OIDC_SCOPES: "openid profile email"
            OIDC_X_FORWARDED_HEADERS: X-Forwarded-Host X-Forwarded-Port X-Forwarded-Proto
          envFrom:
            - secretRef:
                name: freshrss-sso
          resources:
            requests:
              cpu: 10m
              memory: 68Mi
            limits:
              cpu: 500m
              memory: 128Mi
    cron:
      type: cronjob
      cronjob:
        concurrencyPolicy: Forbid
        timeZone: "Europe/Madrid"
        schedule: "*/20 * * * *"
        startingDeadlineSeconds: 30
        successfulJobsHistory: 1
        failedJobsHistory: 1
        backoffLimit: 3
      containers:
        main:
          image: *image
          env: *env
          command: /usr/bin/su
          args:
            - www-data
            - -s
            - /bin/sh
            - -c
            - 'php /var/www/FreshRSS/app/actualize_script.php'
  service:
    main:
      ports:
        http:
          port: 80

  ingress:
    main:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host freshrss.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: freshrss-external-tls-certificate

  persistence:
    config:
      enabled: true
      globalMounts:
        - path: /var/www/FreshRSS/data
      existingClaim: freshrss-config-zfs
