app-template:
  controllers:
    main:
      replicas: 1
      containers:
        main:
          image:
            repository: nginx
            tag: 1.25.2-alpine

          securityContext:
            runAsUser: 0

          resources:
            requests:
              cpu: 100m
              memory: 8Mi
            limits:
              memory: 16Mi

  defaultPodOptions:
    enableServiceLinks: false

    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/instance: antdroid
            app.kubernetes.io/name: antdroid
  service:
    main:
      ports:
        http:
          port: 80

  ingress:
    main:
      enabled: true
      className: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
        external-dns.alpha.kubernetes.io/enabled: "true"
      hosts:
        - host: &host antdroid.internal.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: antdroid-tls-certificate
    external:
      enabled: true
      className: nginx-external
      annotations:
        external-dns.alpha.kubernetes.io/enabled: "true"
        external-dns.alpha.kubernetes.io/target: grigri.cloud
        cert-manager.io/cluster-issuer: letsencrypt-prod-dns
      hosts:
        - host: &host antdroid.grigri.cloud
          paths:
            - path: /
              pathType: Prefix
              service:
                name: main
                port: http
      tls:
        - hosts:
            - *host
          secretName: antdroid-external-tls-certificate

  persistence:
    data:
      enabled: true
      globalMounts:
        - path: /usr/share/nginx/html
      existingClaim: antdroid-data-zfs
